#carritoBtn {
  position: fixed;
  top: 70px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.589);
  border: 1px solid #185ddb;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: 10px;
}

#carritoBtn i {
  font-size: 20px;
}

.btn.btn-primary{
  background-color: rgb(40, 127, 240);
  padding: 5px;
}

#carrito-contador {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  font-size: 0.7rem;
  padding: 2px 5px;
  border-radius: 50%;
}


  .group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 300px;
}

.input {
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  width: 100%; 
  padding-left: 2.5rem;
  border: 1px solid rgba(64, 224, 208, 0.582);
  border-radius: 8px;
  outline: none;
  background-color: #D9E8D8;
  color: #0d0c22;
  box-shadow: 0 0 2px #C1D9BF, 0 0 0 4px #f5f5f5eb;
  transition: .3s ease;
  
}

.input::placeholder {
  color: #777;
}

.icon1 { 
  position: absolute;
  left: 1rem;
  fill: #777;
  width: 1rem;
  height: 1rem;
}

    .product-card {
        transition: transform 0.3s, box-shadow 0.3s;
        margin-bottom: 20px;
        height: 100%;
        box-shadow: 0 0 5px rgb(55, 111, 231);
    }

    .product-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(52, 147, 255, 0.1);  
        box-shadow: 0 0 5px rgb(55, 111, 231);     
    }

    .product-img {
        height: 200px;
        object-fit: cover;
        width: 100%;
    }

    .load-more {
        margin: 30px auto;
        display: block;
    }

    .modal-product-img {
        max-height: 300px;
        width: auto;
        margin: 0 auto;
        display: block;
    }

    @media (max-width: 768px) {

        .container{
            justify-content: right;
        }

        .navbar-toggler{
            margin-left: 20% !important;
            background-color: #42738f91 !important;  
           
        }

        .group {
            max-width: 70%;
            margin: 0 auto;
            margin-bottom: -10px;
        }

        .input {
          height: 30px;
        }

        .product-card {
            width: 90%;
            margin: 0 auto;
            border-radius: 15px ;
            padding-bottom: 2%;
        }
    }