.carouselArtic {
  box-shadow: 0 0 20px rgba(55, 111, 231, 0.5);
}

.carouselArtic .carousel-item img {
  height: 50vh;
  object-fit: cover;
}

#carritoBtn {
  position: fixed;
  top: 70px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.589);
  border: 1px solid #185ddb;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: 10px;
}

#carritoBtn i {
  font-size: 20px;
}
 
.btn.btn-primary{
    background-color: rgb(40, 127, 240);
    padding: 5px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

.btn.btn-primary:hover {
    background-color: #0b5ed7;
    transform: translateY(-2px);
}

.agregar-carrito-btn{
  text-transform: uppercase;
}

#carrito-contador {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  font-size: 0.7rem;
  padding: 2px 5px;
  border-radius: 50%;
}

.w-100.rounded-bottom-1 {
  box-shadow: 0 0 -10px rgba(55, 111, 231, 0.5);
  padding-bottom: 2%;
}

.text-center.mb-4 {
  height: 100%;
  border-bottom: 2px solid #9ecaf741;
  box-shadow: 0 4px 6px -4px rgba(149, 215, 241, 0.3);
}

  .group {
  display: flex;
  align-items: center;
  position: relative;
  width: 300px;
}

.input {
  height: 30px;
  padding: 0 1rem;
  width: 100%; 
  padding-left: 2.5rem;
  border: 1px solid rgba(64, 224, 208, 0.582);
  border-radius: 8px;
  outline: none;
  background-color: #D9E8D8;
  color: #0d0c22;
  box-shadow: 0 0 2px #C1D9BF, 0 0 0 4px #f5f5f5eb;
  transition: .3s ease;
}
#tipoFiltro {
    height: 30px;
    box-shadow: 0 0 2px #C1D9BF, 0 0 0 4px #f5f5f5eb;
    border: 1px solid rgba(64, 224, 208, 0.582);
    background-color: #D9E8D8;
    font-size: small;
}

.input::placeholder {
  color: #777;
}

.icon1 { 
  position: absolute;
  left: 1rem;
  fill: #777;
  width: 1rem;
  height: 1rem;
}

    .product-card {
        transition: transform 0.3s, box-shadow 0.3s;
        margin-bottom: 20px;
        height: 100%;
        box-shadow: 0 0 5px rgb(55, 111, 231);
    }

    .product-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(52, 147, 255, 0.1);  
        box-shadow: 0 0 5px rgb(55, 111, 231);     
    }

    .product-img {
        height: 200px;
        object-fit: cover;
        width: 100%;
    }

    .load-more {
        margin: 30px auto;
        display: block;
    }

    .modal-product-img {
        max-height: 300px;
        width: auto;
        margin: 0 auto;
        display: block;
    }

    @media (max-width: 768px) {

        .container{
            justify-content: right;
        }

        .product-card {
            width: 90%;
            margin: 0 auto;
            border-radius: 15px ;
            padding-bottom: 2%;
        }

        .btn.btn-secondary, .btn.btn-primary{
            margin: 0 auto;
            width: 80%;
        }

        .btn.btn-primary{
            margin-top: 10px;
        }

        .w-100.rounded-bottom-1 {
          height: 100%;
          box-shadow: 0px 0px 10px rgba(55, 111, 231, 0.233);
        }
        
        .busca {
          width: 80% !important;
          margin: 0 auto;
          margin-top: 8px;
        }
        
        .filtro{
          width: 25%;
          margin: 0 auto;
        }

        #tipoFiltro {
          margin-bottom: 0;
          height: 30px;
          font-size: 14px;
          border-radius: 10px;
          margin-right: -20px;
        }

        .group {
          width: 65%;
          margin: 0 auto;
        }

        .input {
          margin-top: 0;
          height: 30px;
          font-size: 14px;
          border-radius: 10px;
          
        }

        .w-100.rounded-bottom-1 img {
          margin-top: 7px;
          width: 45%;
        }

        .carouselArtic, .carouselArtic .carousel-item img {
          height: 30vh;
          margin-bottom: 0px;
        }

        .row-cols-1.d-flex.justify-content-center{
          flex-wrap: wrap;
          margin: 0 auto;   
          gap: 0px;
        }

    }