@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Condensed+One&family=Special+Gothic+Expanded+One&display=swap');

    body {
        font-family: "Special Gothic Condensed One", sans-serif;
        background: #A1FFCE;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #FAFFD1, #A1FFCE);
    }

    .navbar {
        background-color: #a7e1f7;
        border-radius: 0 0 5px 5px;
        box-shadow: #333 0 0 10px;
    }

    .navbar-brand {
        margin-left: -40px;
    }

    .navbar-nav {
        text-align: right;
    }

    .collapse ul li a {
        font-style: normal;
        color: #0d6efd;
        font-size: 18px;
    }

    .nav-link.active {
        color: rgb(0, 0, 0) !important;
        /* el !important ayuda a sobreescribir estilos de Bootstrap */
    }

    .btn.btn-outline-dark{
        margin: auto;
    }

    .search-bar {
        max-width: 500px;
        margin: 20px auto;
        margin-top: -15px;
    }

    .product-card {
        transition: transform 0.3s, box-shadow 0.3s;
        margin-bottom: 20px;
        height: 100%;
    }

    .product-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    .product-img {
        height: 200px;
        object-fit: cover;
        width: 100%;
    }

    .load-more {
        margin: 30px auto;
        display: block;
    }

    .modal-product-img {
        max-height: 300px;
        width: auto;
        margin: 0 auto;
        display: block;
    }

    @media (max-width: 768px) {

        .navbar-nav {
            width: 100%;
        }

        .btn.btn-outline-dark{
            width: 50%;
            margin: auto;
            margin-bottom: -1%;
        }

        .navbar-brand {
            margin-left: 20px;
        }

        .collapse ul li a {
            text-align: center;
            background-color: #e9e9e925;
            box-shadow: #333 0 0 2px;
            border-radius: 5px;
        }

        .search-bar {
            max-width: 80%;
            margin-top: -5px;    
        }

        .product-card {
            width: 90%;
            margin: 0 auto;
            border-radius: 0 0 15px 15px ;
            padding-bottom: 2%;
        }
    }